:root {
  /*background-colors*/
  --primary-background-color: #ffffff;

  /*text colors*/
  --light-text-color: #ffffff;
  --grey-text-color: #6c6c6c;
  --dark-green-text-color: #015f10;
  --light-green-text-color: #2fac66;
  --blue-text-color: #6dc8e1;

  /*brand colors*/
  --green-brand-color: #89c8a6;
  --blue-brand-color: #96d5ec;
  --grey-brand-color: #e0e1e2;

  /*colors*/
  --header-color: #2fac66;
  --banner-button: #e7eaec57;
  --banner-button2: #6dc8e1;
  --login: #1aaed7;

  /*fonts*/
  --main-font: 'Spectral', serif;
  --title-font: 'Urbanist';
  --second-font: 'Outfit', sans-serif;
  --banner-font: 'Playfair Display', serif;
}
