.menu {
  display: flex;
  justify-content: center;
  padding-top: 151px;
}

.menuUl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
}

.menuLi {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 900;
  color: var(--header-color);
  font-family: var(--second-font);
  /*flex-shrink: 0;
  white-space: nowrap;*/
}
