.banner {
  display: flex;
  justify-content: center;
  margin-top: 41px;
}

.bannerContainer {
  display: flex;

  align-items: center;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.logoContainer {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  gap: 171px;
  align-items: center;
  padding-bottom: 180px;
}

.bannerLogoImg {
  width: 314px;
  height: auto;
}

.bannerBottomContainer {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: flex-end;
  gap: 439px;
}
.bannerTextContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 298px;
  width: 715px;
}

.bannerText1 {
  color: var(--light-green-text-color);
  font-family: var(--second-font);
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
}

.bannerText2 {
  font-family: var(--second-font);
  font-size: 6.25rem;
  color: var(--light-green-text-color);
  font-weight: 900;
  line-height: 6.875rem;
}
